* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 25px 0;
  background-color: #23252C;
  font-family: 'Inter', sans-serif;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
}

.app {
  width: 500px;
}

header {
  width: 100%;
  display: flex;
}

.header__img {
  width: 100%;
  border-radius: 5% 5% 0px 0px;
}

main {
  padding: 3% 10%;
  width: 100%;
  background: #1A1B21;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main__title {
  margin: 5% 0 2% 0;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: white;
}

.main__subtitle {
  margin: 0 0 2% 0;
  padding: 0;
  font-weight: 400;
  font-size: 12.8px;
  line-height: 15px;
  color: #F3BF99;
}

.main__text {
  margin: 0 0 5% 0;
  font-weight: 400;
  font-size: 10.24px;
  color: #DCDCDC;
}

.main__email {
  margin: 0 0 10% 0;
  background-color: white;
  border-radius: 10px;
  width: 100%;
  height: 34px;
  border: 1px solid #D1D5DB;
  cursor: pointer;
}

.main__projects {
  margin: 0 0 10% 0;
}

.main__projects h2 {
  color: #F5F5F5;
}

.main__projects p {
  color: #DCDCDC;
}

.main__about {
  margin: 0 0 10% 0;
}

.main__about h2 {
  color: #F5F5F5;
}

.main__about p {
  color: #DCDCDC;
}

.main__interests {
  margin: 0 0 10% 0;
}

.main__interests h2 {
  color: #F5F5F5;
}

.main__interests p {
  color: #DCDCDC;
}

footer {
  padding: 5% 25%;
  display: flex;
  width: 100%;
  background: #161619;
  border-radius: 0px 0px 10px 10px;
  align-items: center;
  justify-content: space-evenly;
}

footer img {
  width: 50px;
}
