@font-face {
  font-family: 'Inter';
  src: URL('/fonts/Inter/Inter-VariableFont_slnt,wght.ttf');
}

* {
  margin: 0;
  padding: 0;
  font-family: Inter;
  color: #2B283A;
  font-size: 10.24px;
}

body {
  min-height: 100vh;
}

#root {
  min-height: 100vh;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

header {
  height: 55px;
  background-color: #F55A5A;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__logo {
  padding: 0 7px 0 0;
  width: 24px;
  height: 24px;
}

.header__title {
  font-weight: 500;
  font-size: 14.4608px;
  letter-spacing: -0.075em;
  color: white;
}

main {
  padding: 20px;
  align-self: center;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main hr {
  width: 100%;
  height: 1px;
  background-color: #F5F5F5;
  border: 0px;
}

.post {
  width: 100%;
}

.post__container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.post__img {
  margin: 18px 18px 18px 0;
  width: 125px;
  height: 168px;
  object-fit: cover;
  border-radius: 5px;
}

.post__title {
  height: 40px;
  font-size: 25px;
}

.post__date {
  padding: 0 0 9px 0;
}

.post__description {
  line-height: 150%;
}

.location__mapPointer {
  padding: 0 4px 0 0;
  width: 7px;
}

.location__country {
  padding: 0 12px 0 0;
  letter-spacing: 0.17em;
}

.location__googleMaps {
  color: #918E9B;
}

footer {
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgrey;
}